/* Register Page Styles */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .register-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .register-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    font-size: 1rem;
    color: #666;
  }
  
  .form-input {
    padding: 0.1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
  }
  
  .form-input::placeholder {
    color: #aaa;
  }
  
  .register-button,
  .back-to-login-button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  .register-button {
    background-color: #28a745;
    color: #fff;
  }
  
  .register-button:hover {
    background-color: #1e6e35;
  }
  
  .back-to-login-button {
    background-color: #007bff;
    color: #fff;
    margin-top: 1rem;
  }
  
  .back-to-login-button:hover {
    background-color: #0056b3;
  }

  .send-code-button{
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    background-color: red;
    color: #fff;
  }
  .send-code-button:hover {
    background-color: rgba(131, 0, 0, 0.999);
  }
